.tetromino-l {
  background-color: var(--color-l-background);
  border: var(--tetromino-border-width) outset var(--color-l-border);

  &.piece-index-0.rotation-0:not(.bottom-cut) {
    border-bottom: none;
  }

  &.piece-index-0.rotation-1 {
    border-right: none;
  }

  &.piece-index-0.rotation-2:not(.top-cut) {
    border-top: none;
  }

  &.piece-index-0.rotation-3 {
    border-left: none;
  }

  &.piece-index-1.rotation-0 {
    border-style: none outset outset none;
    &::after {
      background-color: var(--color-l-border);
      width: var(--tetromino-border-width);
      height:  var(--tetromino-border-width);
      position: absolute;
      content: " ";
      top: 0; 
      left: 0;
    }
  }

  &.piece-index-1.rotation-1 {
    border-style: outset outset none none; 

    &.bottom-cut { border-bottom-style: outset; }
    
    &:not(.bottom-cut)::after {
      background-image: linear-gradient(135deg, #ab31ab 50%, #ff4aff 50%);
      width: var(--tetromino-border-width);
      height:  var(--tetromino-border-width);
      position: absolute;
      content: " ";
      bottom: 0; 
      left: 0;
    }
  }

  &.piece-index-1.rotation-2 {
    border-style: outset none none outset;

    &.bottom-cut { border-bottom-style: outset; }
    
    &:not(.bottom-cut)::after {
      background-color: #ab31ab;
      width: var(--tetromino-border-width);
      height: var(--tetromino-border-width);
      position: absolute;
      content: " ";
      bottom: 0; 
      right: 0;
    }
  }

  &.piece-index-1.rotation-3 {
    border-style: none none outset outset; 
    &::after {
      background-image: linear-gradient(135deg, #ab31ab 50%, #ff4aff 50%);
      width: var(--tetromino-border-width);
      height:  var(--tetromino-border-width);
      position: absolute;
      content: " ";
      top: 0; 
      right: 0;
    }
  }

  &.piece-index-2.rotation-0 {
    border-style: outset none;
  }

  &.piece-index-2.rotation-1 {
    border-style: none outset; 
    &.top-cut {
      border-top-style: outset;
    }
    &.bottom-cut {
      border-bottom-style: outset;
    }
  }

  &.piece-index-2.rotation-2 {
    border-style: outset none;
  }

  &.piece-index-2.rotation-3 {
    border-style: none outset;
    
    &.bottom-cut {
      border-bottom-style: outset;
    }
    &.top-cut {
      border-top-style: outset;
    }
  }

  &.piece-index-3.rotation-0 {
    border-right: none; 
  }

  &.piece-index-3.rotation-1:not(.top-cut) {
    border-top: none;
  }

  &.piece-index-3.rotation-2 {
    border-left: none;
  }

  &.piece-index-3.rotation-3:not(.bottom-cut) {
    border-bottom: none;
  }
}